NEXT_PUBLIC_TRAVELER_URL=http://localhost:3001
NEXT_PUBLIC_AGENCY_URL=http://localhost:3002
NEXT_PUBLIC_CLARITY_PROJECT_ID=
GMAIL_EMAIL=waitlist@example.com
GMAIL_APP_PASSWORD=replace-with-app-password
GOOGLE_SERVICE_ACCOUNT_EMAIL=waitlist-writer@example-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=replace-with-service-account-private-key
GOOGLE_SHEET_ID=replace-with-sheet-id
